*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.layout-space{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.header a{
    text-decoration: none;
    margin-right: 50px;
    /* text-align: center; */
}