.card-background-blue{
    background-color: #EBF2FC;
}

.card-background-pink{
    background-color: #FAE9EF;
}

.card-background-yellow{
    background-color: #FFFBDB; 
}

.card-background-green{
    background-color: #E9FFE3; 
}

.card-background-grey{
    background-color: #f1f1f1;
}




