.background-color-header{
    background: linear-gradient(180deg, #141414 0%, #202022 50%, #47474f 100%);
}

.background-color-hot-sale{
    background: linear-gradient(180deg, #BF1E2E 0%, #cc0c09 50%, #fa2c29 100%);
}

.color-text-white{
    color: #fff;
}